<!DOCTYPE html>
<html lang="en">
	<%- include('./partials/head') %>
<body>
	<h1><%= title %></h1>
	<h2>No tienes los privilegios para ingresar :( </h2>
	<%- include('./partials/header') %>
	<a href="/">Volver al Home</a>
</body>
</html>